/* Facebook */
.feature1 {
  width: 31%;
}
.feature2 {
  width: 31%;
}
.feature3 {
  width: 31%;
}
.feature4 {
  width: 40%;
}
/* Instagram */
.feature11 {
  width: 20%;
}
.feature21 {
  width: 38%;
}
.feature31 {
  width: 30%;
}
.feature41 {
  width: 45%;
}
.feature51 {
  width: 42%;
}
/* Youtube */
.feature12 {
  width: 40%;
}
.feature22 {
  width: 40%;
}
.feature32 {
  width: 35%;
}
.feature42 {
  width: 35%;
}
/* Soundcloud */
.feature13 {
  width: 40%;
}
/* Pinterest */
.feature15 {
  width: 35%;
  margin-top: -30px;
}
.feature25 {
  width: 35%;
  margin-top: -20px;
}
/* Vimeo */
.feature14 {
  width: 35%;
  margin-top: -30px;
}
.feature24 {
  width: 35%;
  margin-top: -30px;
}
.feature34 {
  width: 35%;
  margin-top: -30px;
}
/* Twitter */
.feature16 {
  width: 32.5%;
  margin-top: -30px;
}
.feature26 {
  width: 42%;
  margin-top: -30px;
}
.feature36 {
  width: 38%;
  margin-top: -30px;
}
/* Snapchat */
.feature17 {
  width: 33%;
  margin-top: -30px;
}
.feature27 {
  width: 33%;
  margin-top: -30px;
}
.feature37 {
  width: 48%;
  /* margin-top: -30px; */
}
.feature47 {
  width: 45%;
  margin-top: -30px;
}
/* Linkedin */
.feature18 {
  width: 35%;
  margin-top: -30px;
}
.feature28 {
  width: 36%;
  margin-top: -30px;
}
